@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamRounded-Bold.eot');
    src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('../fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
 
 * { 
     box-sizing: border-box;
 }

 body {
     margin:0 ;
     padding:0;
 }

 .container-fluid {
     height:100vh;
 }

 .navi {
    background-image: url(../images/start-left.jpg), url(../images/start-right.jpg);
    background-position: left center, right center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
 }